.liste{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 24px;
  background-color: #101828;
  padding: 20px 5px;
}
.liste a{
  text-decoration: none;
}
.menü{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.menü a{
  padding-right: 20px;
}
.list_head{
  color: white;
  padding-left: 10px;
  font-family: 'Dancing Script', cursive;
}
.item a{
  color: white;
}
